<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaaBc_mY4EJsd6cDZAKgU17F3eoR7MPQA</string>
	<key>GCM_SENDER_ID</key>
	<string>612154567444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendenceApp</string>
	<key>PROJECT_ID</key>
	<string>webchat-d646a</string>
	<key>STORAGE_BUCKET</key>
	<string>webchat-d646a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612154567444:ios:8bcada5d17740b6393b001</string>
	<key>DATABASE_URL</key>
	<string>https://webchat-d646a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>